In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pickle

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_predict
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import Imputer
from sklearn import metrics
from sklearn import svm
from sklearn import datasets
from sklearn.externals import joblib

pd.options.mode.chained_assignment = None  # default='warn'

/Users/fqian/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

# Class: Model

## 1. Train

### run ONCE, unless model or parameter changes.

#### Input:
* round1_merge.json
* round2_merge.json
* round3_merge.json

#### Output (No explicit function return):
* model parameters saved on disk
    * clf_all_rf.pkl
    * clf_discount_rf.pkl
    

## 2. Preprocess

### run ONCE every day, after the calendar is scraped.
Read in the scraped calendar and insideAirbnb data

#### Input: 
* calendar_dir: calendar data
* inside_dir: insideAirbnb data

#### Output:
* df_listings: dataframe with the following variables
    * host listing count
    * host response rate
    * instant bookable
    * space shared with host
    * usual price
    * price variation
    * 1-month occupancy
    


## 3. Predict

### run EVERY TIME in response to a query.

#### Input:
* clf_all_rf
* clf_discount_rf
* df_merged:
    * "Host listing count"
    * "Host response rate"
    * "Instant bookable"
    * "Space shared with host"
    * "Usual price"
    * "Price variation"
    * "1-month occupancy"
* check_in: YYYY-MM-DD
* check_out: YYYY-MM-DD

* calculated intermediate variables:
    * "1-day orphan", "2-day orphan", "3-day_orphan", "Within 1 week", "1-2 weeks in advance", 
    * "orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2",
    * "Percent off highest price" 
    
#### Output:

[

    [id, pred_accept, pred_discount, already_pct_off],
    
    [id, pred_accept, pred_discount, already_pct_off],
    
    ...

]

In [4]:
class Model(object):
    
    def __init__(self, 
                 input_dir="input", 
                 intermediate_dir="intermediate", 
                 output_dir="output", 
                 calendar_date=dt.date.today().strftime("%Y%m%d"), 
                 city="nyc"):
        self.city = city
        self.input_dir = input_dir
        self.intermediate_dir = intermediate_dir
        self.output_dir = output_dir
                        
        # TODAY's DATE
        self.today_parsed = dt.datetime.today()
        self.calendar_date = calendar_date 
        self.calendar_date_parsed = dt.datetime.strptime(calendar_date, "%Y%m%d")
        
        # Imputer if NAN
        self.imputer = Imputer(copy=True, missing_values='NaN', strategy='mean', axis=1)
    
    #################################################################################################################
    def Train(self):
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        imputer = self.imputer
        
        # LOAD PREPROCESSED TRAINING DATA SILOS AND COMBINE THEM
        round5 = pd.read_json("%s/round5_merged.json"%input_dir)
        round4 = pd.read_json("%s/round4_merged.json"%input_dir)
        round3 = pd.read_json("%s/round3_merged.json"%input_dir)
        round2 = pd.read_json("%s/round2_merged.json"%input_dir)
        round1 = pd.read_json("%s/round1_merged.json"%input_dir)
        sent_info = pd.read_json("%s/sent_info.json"%input_dir)
        round5_clean = round5[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round4_clean = round4[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round3_clean = round3[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round2_clean = round2[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round1_clean = round1[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "availability", "price", "discount",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        
        round1_clean = round1_clean.rename(columns = {"availability":"decision", "price":"price_agreed", "discount":"percent_agreed"})
        round4_clean = round4_clean.rename(columns = {"discount":"discount_agreed"})
        round5_clean["decision"] = [1 if val==4 else val for val in round5_clean.decision.values]

        round1_clean["percent_agreed"] = [np.nan if val==None else float(val.strip("%"))/100. for val in  round1_clean.percent_agreed.values]

        combined = pd.concat([round1_clean, round2_clean, round3_clean, round4_clean, round5_clean], keys=["round1", "round2", "round3", "round4", "round5"], ignore_index=False)

        combined["source"] = combined.index.labels[0]+1
        combined = combined.reset_index(drop=True)

        sent_info = sent_info.rename(columns = {"property_id":"id"})
        sent_info_clean = sent_info[['id', 'source', 'start', 'end', 'sent_date']]

        combined = pd.merge(combined, sent_info_clean, on=['id', 'source'], how='inner')
        
        # CLEAN AND CONSTRUCT X VARIABLES (ESTIMATORS)
        ### PRICE RELATED
        calendar_price =  np.array([(np.median(calendar["price_USD"].values()),
                                     np.std(calendar["price_USD"].values()),
                                     np.max(calendar["price_USD"].values())) 
                                    for calendar in combined["calendars"].values])
        calendar_median_price = calendar_price[:,0]
        calendar_price_std = calendar_price[:,1]
        calendar_price_high = calendar_price[:,2]
        combined["price_median"]=calendar_median_price
        combined["price_std"]=calendar_price_std/calendar_median_price
        combined["orig_percent_off"]=1-combined["nightly_price"]/calendar_price_high
        ### OCCUPANCY
        key_1m = map(str, range(30))
        calendar_occupancy = [np.mean([calendar["availability"][key] for key in key_1m]) for calendar in combined["calendars"].values]
        combined["occupancy_1m"]=calendar_occupancy
        ### SHARED WITH HOST
        shared = combined["room_type"].values
        combined["shared"] = [x!="Entire home/apt" for x in shared]
        ### INSTANT BOOKABLE
        instant = combined["instant_bookable"].values
        combined["instant"] = [x=="t" for x in shared]
        ### RESPONSE RATE
        imputer = Imputer(copy=True, missing_values='NaN', strategy='mean', axis=1)
        response_num = np.array([float(response_rate.strip('%'))/100 for response_rate in combined["host_response_rate"].fillna(value="-100%").values])
        response_num = np.array([np.nan if x < 0 else x for x in response_num])
        response_imputed = imputer.fit_transform(response_num)[0]
        combined["response_rate"] = response_imputed
        ### CALCULATE NUMERIC BUCKET
        calc_len = lambda row: (dt.datetime.strptime(row["end"], '%Y-%m-%d') - dt.datetime.strptime(row["start"], '%Y-%m-%d')).days
        calc_adv = lambda row: np.floor((dt.datetime.strptime(row["start"], '%Y-%m-%d') - dt.datetime.strptime(row["sent_date"], '%Y-%m-%d')).days/7)
        combined["length_num"] = combined.apply(calc_len, axis=1)
        combined["advance_num"] = combined.apply(calc_adv, axis=1)
        ### BUCKETS (LONG...)
        opening_attr = combined["bucket_name"].values
        N = len(opening_attr)
        orp_1 = np.zeros(N)
        orp_2 = np.zeros(N)
        orp_3 = np.zeros(N)
        adv_1 = np.zeros(N)
        adv_2 = np.zeros(N)

        orphan = np.ones(N)

        for (i,x) in enumerate(opening_attr):
            if x == "days1_weeks1":
                orp_1[i] = 1
                adv_1[i] = 1
            elif x == "days1_weeks2":
                orp_1[i] = 1
                adv_2[i] = 1
            elif x == "days1_weeksM":
                orp_1[i] = 1
            elif x == "days2_weeks1":
                orp_2[i] = 1
                adv_1[i] = 1
            elif x == "days2_weeks2":
                orp_2[i] = 1
                adv_2[i] = 1
            elif x == "days2_weeksM":
                orp_2[i] = 1
            elif x == "days3_weeks1":
                orp_3[i] = 1
                adv_1[i] = 1
            elif x == "days3_weeks2":
                orp_3[i] = 1
                adv_2[i] = 1
            elif x == "days3_weeksM":
                orp_3[i] = 1
            elif x == "daysM_weeks1":
                adv_1[i] = 1
                orphan[i] = 0
            elif x == "daysM_weeks2":
                adv_2[i] = 1
                orphan[i] = 0
            elif x == "daysM_weeksM":
                orphan[i] = 0

        combined["orp_1"]=orp_1
        combined["orp_2"]=orp_2
        combined["orp_3"]=orp_3
        combined["adv_1"]=adv_1
        combined["adv_2"]=adv_2

        combined["orphan"] = orphan
        combined["orp_1, adv_1"] = combined["orp_1"]*combined["adv_1"]
        combined["orp_1, adv_2"] = combined["orp_1"]*combined["adv_2"]
        combined["orp_2, adv_1"] = combined["orp_2"]*combined["adv_1"]
        combined["orp_2, adv_2"] = combined["orp_2"]*combined["adv_2"]
        combined["orp_3, adv_1"] = combined["orp_3"]*combined["adv_1"]
        combined["orp_3, adv_2"] = combined["orp_3"]*combined["adv_2"]
        
        # CLEAN AND CONSTRUCT Y VARIABLES (TARGETS)
        ### DISCOUNT
        orig_price = combined["nightly_price"]
        price_agreed_percent = (np.nan_to_num(combined["price_agreed"])/orig_price)
        discount_agreed1 = [0 if (d>=1 or d==0) else 1-d for d in price_agreed_percent]
        discount_agreed2 = np.nan_to_num(combined["discount_agreed"]/orig_price)
        discount_agreed3 = np.nan_to_num(combined["percent_agreed"])
        discount_obtained = np.max([discount_agreed1, discount_agreed2, discount_agreed3], axis=0)
        combined["discount_obtained"] = discount_obtained

        # CREATE TRAINING SAMPLES
        mask_available = combined["decision"] != -1 
        mask_agreed = combined["discount_obtained"] != 0
        mask_no_source1 = combined["source"] != 1
        combined_available = combined[mask_available]
        combined_agreed = combined[mask_agreed * mask_no_source1]
        cal_param_1 = ["orp_1", "orp_2", "orp_3", "adv_1", "adv_2"]
        cal_param_1_num = ["orphan", "length_num", "advance_num"]
        cal_param_2 = ["orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2"]
        host_param = ["host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                      "price_median", "price_std", "occupancy_1m", "orig_percent_off"]
        param_rf = cal_param_1_num + host_param
        param_lr = cal_param_1_num + host_param + cal_param_2

        X_responded_rf = combined_available[param_rf].values
        X_responded_lr = combined_available[param_lr].values
        Y_responded = combined_available["decision"].values

        X_all_rf = combined[param_rf].values
        X_all_lr = combined[param_lr].values
        Y_all = combined["decision"].values 
        Y_all = np.max(zip(Y_all,np.zeros(len(Y_all))), axis=1)

        X_discount_rf = combined_agreed[param_rf].values
        X_discount_lr = combined_agreed[param_lr].values
        Y_discount = combined_agreed["discount_obtained"].values
        
        # CREATE PLOT LABELS
        features = ["orp_1", "orp_2", "orp_3", "adv_1", "adv_2",
                    "orphan", "length_num", "advance_num",
                    "orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2",
                    "host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                    "price_median", "price_std", "occupancy_1m", "orig_percent_off"]

        labels = ["1-day orphan", "2-day orphan", "3-day_orphan", "Within 1 week", "1-2 weeks in advance",
                  "Orphan day", "Length of stay", "Weeks in advance",
                  "1-day orphan within 1 week", "1-day orphan 1-2 weeks in advance", 
                  "2-day orphan within 1 week", "2-day orphan 1-2 weeks in advance", 
                  "3-day orphan within 1 week", "3-day orphan 1-2 weeks in advance", 
                  "Host listing count", "Host response rate", "Instant bookable", "Space shared with host", "Number of beds", "Number of reviews",
                  "Usual price", "Price variation", "1-month occupancy", "Off Highest Price"]

        label_dict = dict(zip(features, labels))
        
        # CLASSIFY NEGOTIABLE HOSTS WITH RANDOM FOREST
        clf_all_rf = RandomForestClassifier(n_estimators=200, 
                                        max_features=7, 
                                        max_depth=None,
                                        min_samples_split=1,
                                        n_jobs=-1,
                                        warm_start=True,
                                        class_weight = "balanced")
        clf_all_rf.fit(X_all_rf, Y_all)
        
        # CLASSIFY ANTICIPATED DISCOUNT WITH RANDOM FOREST
        clf_discount_rf = RandomForestRegressor(n_estimators=50, 
                                        max_features=7, 
                                        max_depth=None,
                                        min_samples_split=1,
                                        n_jobs=-1,
                                        warm_start=True)
        clf_discount_rf.fit(X_discount_rf, Y_discount)
        
        # SAVING THE MODEL TO EXTERNAL FILE
        with open('%s/clf_all_rf.pkl'%intermediate_dir, 'wb') as f:
            pickle.dump(clf_all_rf, f)
        with open('%s/clf_discount_rf.pkl'%intermediate_dir, 'wb') as f:
            pickle.dump(clf_discount_rf, f)

        return clf_all_rf, clf_discount_rf
    #################################################################################################################
                                         
                                                                              
    #################################################################################################################
    def Preprocess(self):
        # INITIALIZE VARIABLES
        city = self.city
        today_parsed = self.today_parsed
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        calendar_date = self.calendar_date
        calendar_date_parsed = self.calendar_date_parsed
        imputer = self.imputer

        inside_raw = pd.read_csv("%s/listings_%s.csv"%(input_dir, city))
        calendar_raw = pd.read_json("%s/calendar_%s_%s.json"%(input_dir, city, calendar_date))
       
        # CALENDAR: PARSE CALENDAR DATA INTO DATAFRAME
        parsed_calendars = {}
        for i in calendar_raw.keys():
            parsed_calendars[i] = self.parse_calendar(calendar_raw[i], calendar_date_parsed)
        listing_id = [int(key) for key in parsed_calendars.keys()]
        df_calendar = pd.DataFrame({'id': listing_id, 'calendars': parsed_calendars.values()})        
        
        # CALENDAR: ADD COLUMNS FOR FUTURE CALCULATION
        ### AVAILABILITY
        calendar_available = [calendar["availability"].values for calendar in df_calendar['calendars']]
        df_calendar["availabilities"] = calendar_available
        ### MIN NIGHTS
        calendar_min_nights = [np.max(calendar["min_nights"].values) for calendar in df_calendar['calendars']]
        df_calendar["min_nights"] = calendar_min_nights
        
        
        ### PRICE RELATED 
        calendar_price = [calendar["price_USD"].values for calendar in df_calendar['calendars']]
        df_calendar["prices"] = calendar_price
        df_calendar["price_median"] = np.median(calendar_price, axis=1)
        df_calendar["price_high"] = np.max(calendar_price, axis=1)
        df_calendar["price_std"] = np.std(calendar_price, axis=1)/df_calendar["price_median"]

        
        ### 1M OCCUPANCY
        key_1m = range(30)
        calendar_occupancy = [np.mean([calendar["availability"][key] for key in key_1m]) 
                              for calendar in df_calendar["calendars"].values]
        df_calendar["occupancy_1m"]=calendar_occupancy
    
    
        # INSIDEAIRBNB: PREPROCESS COLUMNS
        ### SHARED
        shared = inside_raw["room_type"].values
        inside_raw["shared"] = [x!="Entire home/apt" for x in shared]
        ### INSTANT
        instant = inside_raw["instant_bookable"].values
        inside_raw["instant"] = [x=="t" for x in shared]
        ### RESPONSE RATE
        response_num = np.array([float(response_rate.strip('%'))/100 
                                 for response_rate in inside_raw["host_response_rate"].fillna(value="-100%").values])
        response_num = np.array([np.nan if x < 0 else x for x in response_num])
        response_imputed = imputer.fit_transform(response_num)[0]
        inside_raw["response_rate"] = response_imputed
    
        # SELECT USEFUL COLUMNS FROM INSIDEAIRBNB DATA
        inside_col = [u'id', u'response_rate', u'host_is_superhost', u'host_total_listings_count', 
                      u'number_of_reviews', u'instant', u'shared', u'beds']
        df_listing = inside_raw[inside_col]
        imputer = self.imputer
        

        # MERGE CALENDAR WITH INSIDEAIRBNB DATA
        df_merged = pd.merge(df_calendar, df_listing, on='id', how='inner')
                
        self.df_merged = df_merged
        
        df_merged.to_json("%s/preprocessed_calendar_%s.json" %(intermediate_dir, calendar_date))
        return df_merged
    
    # UTILITY FUNCTIONS FOR PREPROCESS
    def parse_calendar(self, calendar, date_scraped):
        date = []
        price_USD = []
        availability = []
        min_nights = []
        day_list = []
        for month in calendar['calendar_months']:
            for day in month['days']:
                day_parsed = dt.datetime.strptime(day['date'], '%Y-%m-%d')
                if (day_parsed > date_scraped) & (day_parsed not in day_list):
                    date.append(day['date'])
                    price_USD.append(day['price']['native_price'])
                    availability.append(day['available'])
                    min_nights.append(month['condition_ranges'][0]['conditions'][u'min_nights'])
                day_list.append(day_parsed)
        return pd.DataFrame({'date':date, 'price_USD': price_USD, 'availability':availability, 'min_nights': min_nights}) 
    #################################################################################################################
    
    
    
    #################################################################################################################
    def Predict(self, check_in, check_out):
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        today_parsed = self.today_parsed
        calendar_date = self.calendar_date
        calendar_date_parsed = self.calendar_date_parsed
        imputer = self.imputer

        df_merged = pd.read_json("%s/preprocessed_calendar_%s.json" %(intermediate_dir, calendar_date))
        
        with open('%s/clf_all_rf.pkl'%intermediate_dir, 'rb') as f:
            clf_all = pickle.load(f)
        with open('%s/clf_discount_rf.pkl'%intermediate_dir, 'rb') as f:
            clf_discount = pickle.load(f)
        
        # PREPROCESS CHECKIN AND CHECKOUT DATE
        check_in_parsed = dt.datetime.strptime(check_in, '%Y-%m-%d')
        check_out_parsed = dt.datetime.strptime(check_out, '%Y-%m-%d')
        
        # NARROW BOOKABLE LISTINGS
        advance = (check_in_parsed - today_parsed).days + 1
        length = (check_out_parsed - check_in_parsed).days
        mask_bookable = df_merged.apply(lambda row: 1 
                                        if (np.sum(row['availabilities'][advance-1: advance-1+length]) == length 
                                            & row['min_nights'] <= length) 
                                        else 0, axis=1)
        df_bookable = df_merged[mask_bookable==1]
        orphan = df_bookable.apply(lambda row: row['availabilities'][advance-2]==False & row['availabilities'][advance-1+length]==False, axis=1)
        count_bookable = len(df_bookable)
        
        # CALCULATE ALREADY DISCOUNTED
        df_bookable["nightly_price"] = df_bookable.apply(lambda row: np.mean(row['prices'][advance-1: advance-1+length]), axis=1)
        df_bookable["orig_percent_off"] = 1 - df_bookable["nightly_price"]/df_bookable["price_high"]

        # CALCULATE TRIP DETAILS
        # CREATE TEST SET
        X_trip = np.zeros((count_bookable,3))
        X_trip[:,0] = orphan
        X_trip[:,1] = length
        X_trip[:,2] = advance
        X_listing = imputer.fit_transform(df_bookable[["host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                                                                        "price_median", "price_std", "occupancy_1m", "orig_percent_off"]].values)
        X_test = np.hstack((X_trip, X_listing)) 
    
        predict_all = clf_all.predict_proba(X_test)[:,1]
        predict_discount = clf_discount.predict(X_test)
        
        return zip(df_bookable["id"].values, df_bookable["orig_percent_off"].values, predict_all, predict_discount)
        
    #################################################################################################################

In [5]:
test = Model(calendar_date="20160401")
test.Train()
test.Preprocess()

/Users/fqian/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/fqian/anaconda/lib/python2.7/site-packages/pandas/computation/expressions.py:190: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  unsupported[op_str]))
/Users/fqian/anaconda/lib/python2.7/site-packages/sklearn/ensemble/forest.py:452: UserWarning: class_weight presets "balanced" or "balanced_subsample" are not recommended for warm_start if the fitted data differs from the full dataset. In order to use "balanced" weights, use compute_class_weight("balanced", classes, y). In place of y you can use a large enough sample of the full training set target to properly estimate the class frequency distributions. Pass the resulting weights as the class_weight parameter.
  warn('class_weight presets "balanced" or "balanced_subsample" are '
/Users/fqian/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:3012: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/fqian/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

,calendars,id,availabilities,min_nights,prices,price_median,price_high,price_std,occupancy_1m,response_rate,host_is_superhost,host_total_listings_count,number_of_reviews,instant,shared,beds
0,availability date min_nights price...,3309572,"[False, False, False, False, False, True, True...",1,"[75.0, 90.0, 90.0, 90.0, 90.0, 90.0, 75.0, 75....",90,90,0.064687,0.833333,1.000000,f,1,15,False,True,1
1,availability date min_nights price...,4556118,"[True, True, True, True, True, True, True, Tru...",30,"[36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36....",36,36,0.000000,1.000000,0.840000,f,10,1,False,True,1
2,availability date min_nights price...,9412617,"[False, False, False, False, False, False, Fal...",3,"[179.0, 179.0, 179.0, 179.0, 179.0, 179.0, 179...",179,189,0.027265,0.166667,1.000000,f,1,0,False,False,3
3,availability date min_nights price...,1646607,"[True, True, True, True, True, True, True, Tru...",2,"[80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80....",80,80,0.000000,1.000000,1.000000,t,2,10,False,True,2
4,availability date min_nights price...,671765,"[False, False, False, False, False, False, Fal...",5,"[29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29....",29,29,0.000000,0.066667,0.980000,f,6,98,False,True,2
5,availability date min_nights price...,753687,"[False, False, False, False, False, False, Fal...",3,"[125.0, 125.0, 125.0, 125.0, 125.0, 125.0, 125...",125,125,0.000000,0.300000,0.700000,f,1,49,False,False,1
6,availability date min_nights price...,1810457,"[False, False, False, False, True, True, True,...",3,"[125.0, 125.0, 125.0, 125.0, 125.0, 125.0, 125...",125,125,0.000000,0.733333,1.000000,f,1,43,False,False,2
7,availability date min_nights price...,5980191,"[True, True, True, True, True, True, True, Tru...",1,"[75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75....",75,75,0.000000,0.766667,1.000000,f,3,51,False,True,1
8,availability date min_nights price...,1242460,"[False, False, False, False, False, False, Fal...",2,"[98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98....",98,98,0.000000,0.233333,1.000000,f,2,107,False,False,3
9,availability date min_nights price...,2236458,"[False, False, False, False, False, False, Fal...",4,"[150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150...",150,150,0.000000,0.000000,0.881346,f,1,2,False,False,1
10,availability date min_nights price...,6651949,"[True, True, True, True, True, True, True, Tru...",1,"[160.0, 160.0, 160.0, 160.0, 160.0, 160.0, 160...",160,165,0.012129,0.466667,1.000000,f,1,12,False,False,2
11,availability date min_nights price...,10928176,"[False, False, False, False, False, False, Fal...",3,"[195.0, 175.0, 175.0, 175.0, 175.0, 175.0, 195...",175,215,0.055707,0.000000,0.881346,f,1,0,False,False,5
12,availability date min_nights price...,9797683,"[False, False, False, False, False, False, Fal...",2,"[45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45....",45,45,0.000000,0.000000,1.000000,f,1,1,False,True,1
13,availability date min_nights price...,9756729,"[True, True, False, False, False, False, False...",13,"[150.0, 60.0, 60.0, 60.0, 60.0, 60.0, 150.0, 1...",60,150,0.683033,0.066667,0.881346,f,1,0,False,False,2
14,availability date min_nights price...,3989564,"[False, False, False, False, False, True, True...",3,"[99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99....",99,99,0.000000,0.133333,1.000000,f,1,55,False,False,2
15,availability date min_nights price...,5029952,"[False, False, False, False, False, False, Fal...",1,"[200.0, 165.0, 165.0, 165.0, 165.0, 165.0, 200...",175,200,0.126472,0.133333,1.000000,t,1,44,False,False,3
16,availability date min_nights price...,2864480,"[True, True, True, True, True, True, True, Tru...",1,"[80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80....",80,80,0.000000,1.000000,0.881346,f,1,0,False,True,1
17,availability date min_nights price...,7200837,"[True, True, True, False, False, False, False,...",2,"[200.0, 180.0, 180.0, 155.0, 155.0, 155.0, 180...",200,250,0.149478,0.400000,1.000000,f,2,2,False,False,3
18,availability date min_nights price...,6766662,"[False, False, False, False, False, False, Fal...",4,"[150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150...",150,150,0.000000,0.000000,0.881346,f,1,1,False,False,1
19,availability date min_nights price...,2154567,"[True, True, True, True, True, True, True, Fal...",2,"[185.0, 185.0, 185.0, 185.0, 185.0, 185.0, 185...",185,185,0.000000,0.600000,1.000000,t,1,38,False,False,4
20,availability date min_nights price...,9248843,"[True, True, True, True, True, True, True, Tru...",1,"[245.0, 245.0, 245.0, 245.0, 245.0, 245.0, 245...",245,245,0.000000,1.000000,0.881346,f,1,0,False,False,1
21,availability date min_nights price...,4120656,"[True, True, True, True, True, True, True, Tru...",1,"[130.0, 130.0, 130.0, 130.0, 130.0, 130.0, 130...",130,130,0.000000,1.000000,0.900000,f,3,31,False,True,2
22,availability date min_nights price...,5021777,"[True, True, True, True, True, True, True, Tru...",3,"[75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75....",75,75,0.000000,0.933333,0.750000,t,1,23,False,True,1
23,availability date min_nights price...,6361102,"[True, True, True, True, True, True, True, Tru...",4,"[62.0, 57.0, 55.0, 55.0, 57.0, 59.0, 63.0, 65....",63,71,0.056478,0.600000,1.000000,f,5,29,False,True,1
24,availability date min_nights price...,6316121,"[False, False, False, False, False, False, Fal...",3,"[135.0, 135.0, 135.0, 135.0, 135.0, 135.0, 135...",135,135,0.000000,0.100000,1.000000,f,3,21,False,False,1
25,availability date min_nights price...,8634383,"[False, False, False, False, False, False, Fal...",1,"[131.0, 121.0, 118.0, 119.0, 122.0, 126.0, 87....",131,147,0.102463,0.366667,1.000000,f,8,16,False,True,2
26,availability date min_nights price...,10166365,"[True, True, True, True, True, True, True, Tru...",1,"[150.0, 125.0, 125.0, 125.0, 125.0, 125.0, 150...",150,150,0.083156,1.000000,1.000000,f,3,0,False,False,2
27,availability date min_nights price...,3883105,"[False, False, False, False, False, False, Fal...",7,"[90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90....",90,90,0.000000,0.000000,0.670000,f,2,3,False,False,1
28,availability date min_nights price...,3752035,"[False, False, False, False, False, False, Fal...",3,"[185.0, 165.0, 165.0, 165.0, 165.0, 165.0, 185...",180,185,0.050237,0.200000,1.000000,f,1,21,False,False,5
29,availability date min_nights price...,4776045,"[False, False, False, False, False, False, Fal...",3,"[69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69....",69,69,0.000000,0.000000,1.000000,f,2,3,False,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,availability date min_nights price...,4538274,"[True, True, True, True, True, True, True, Tru...",1,"[200.0, 150.0, 150.0, 150.0, 150.0, 150.0, 200...",150,200,0.151785,1.000000,0.500000,f,1,3,False,False,1
2370,availability date min_nights price...,581542,"[False, False, False, False, False, False, Fal...",1,"[110.0, 100.0, 100.0, 100.0, 100.0, 100.0, 110...",100,110,0.045536,0.000000,1.000000,t,1,43,False,False,2
2371,availability date min_nights price...,6291371,"[True, False, False, False, False, False, Fals...",1,"[65.0, 65.0, 65.0, 65.0, 65.0, 65.0, 65.0, 65....",65,65,0.000000,0.033333,1.000000,t,4,9,False,True,1
2372,availability date min_nights price...,6520748,"[False, False, False, False, False, False, Fal...",3,"[60.0, 55.0, 55.0, 55.0, 55.0, 55.0, 60.0, 60....",55,60,0.041396,0.000000,0.900000,f,3,5,False,True,1
2373,availability date min_nights price...,5046189,"[True, True, True, True, True, True, True, Tru...",1,"[150.0, 99.0, 99.0, 99.0, 99.0, 99.0, 150.0, 1...",99,150,0.234577,1.000000,1.000000,f,1,3,False,False,3
2374,availability date min_nights price...,3801007,"[False, False, False, False, False, False, Fal...",2,"[450.0, 450.0, 450.0, 450.0, 450.0, 450.0, 450...",450,450,0.000000,0.000000,1.000000,f,1,16,False,False,4
2375,availability date min_nights price...,5652403,"[False, False, False, False, False, False, Fal...",3,"[50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50....",50,50,0.000000,0.000000,0.881346,f,1,1,False,True,1
2376,availability date min_nights price...,4530101,"[True, True, True, True, True, True, True, Tru...",1,"[300.0, 300.0, 300.0, 300.0, 300.0, 300.0, 300...",300,300,0.000000,0.800000,1.000000,f,3,11,False,False,1
2377,availability date min_nights price...,3735483,"[False, False, False, False, False, False, Fal...",2,"[69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69....",69,69,0.000000,0.000000,0.881346,f,1,0,False,True,1
2378,availability date min_nights price...,10411964,"[False, False, False, False, False, False, Fal...",3,"[110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...",110,110,0.038812,0.133333,1.000000,f,1,1,False,False,1
2379,availability date min_nights price...,4333504,"[True, True, True, True, True, True, True, Tru...",5,"[35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35....",35,35,0.000000,1.000000,0.881346,f,1,0,False,True,1
2380,availability date min_nights price...,7274441,"[False, False, False, False, False, False, Fal...",1,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",100,100,0.000000,0.000000,0.881346,f,1,0,False,True,1
2381,availability date min_nights price...,8011722,"[True, True, True, True, True, True, True, Tru...",5,"[75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75.0, 75....",75,75,0.000000,1.000000,0.881346,f,1,0,False,True,1
2382,availability date min_nights price...,3440595,"[False, False, False, False, False, True, True...",2,"[207.0, 204.0, 201.0, 199.0, 198.0, 201.0, 207...",248,250,0.074543,0.333333,0.900000,f,2,35,False,False,3
2383,availability date min_nights price...,7561257,"[True, True, False, False, False, False, False...",2,"[89.0, 89.0, 89.0, 89.0, 89.0, 89.0, 89.0, 89....",89,99,0.019956,0.066667,1.000000,f,1,1,False,True,1
2384,availability date min_nights price...,4726747,"[False, False, False, False, False, False, Fal...",2,"[140.0, 140.0, 140.0, 140.0, 140.0, 140.0, 140...",140,350,0.159206,0.033333,1.000000,f,3,20,False,False,3
2385,availability date min_nights price...,8634332,"[True, True, True, True, True, True, True, Tru...",1,"[71.0, 65.0, 64.0, 64.0, 66.0, 68.0, 73.0, 74....",73,98,0.086518,1.000000,1.000000,f,8,14,False,True,1
2386,availability date min_nights price...,6324190,"[False, False, False, False, False, False, Fal...",10,"[35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35....",35,35,0.000000,0.000000,0.881346,f,1,0,False,True,1
2387,availability date min_nights price...,6067536,"[False, True, True, True, True, True, True, Tr...",1,"[80.0, 75.0, 75.0, 75.0, 75.0, 75.0, 80.0, 80....",95,100,0.077329,0.966667,1.000000,f,3,81,False,False,4
2388,availability date min_nights price...,10289124,"[False, False, True, True, False, False, False...",2,"[79.0, 74.0, 76.0, 76.0, 74.0, 74.0, 79.0, 79....",101,115,0.119475,0.400000,1.000000,f,2,0,False,False,3
2389,availability date min_nights price...,6062054,"[True, True, True, True, True, True, True, Tru...",1,"[65.0, 65.0, 65.0, 65.0, 65.0, 65.0, 65.0, 65....",65,80,0.111389,1.000000,1.000000,f,3,22,False,True,1
2390,availability date min_nights price...,9895911,"[False, False, False, False, False, False, Fal...",2,"[50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50....",63,70,0.116786,0.466667,0.700000,f,1,0,False,True,1
2391,availability date min_nights price...,761835,"[True, True, True, True, True, True, False, Fa...",2,"[80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80.0, 80....",80,80,0.000000,0.866667,1.000000,f,1,25,False,True,1
2392,availability date min_nights price...,958444,"[True, True, True, True, True, True, True, Fal...",3,"[99.0, 99.0, 99.0, 99.0, 98.0, 96.0, 96.0, 95....",99,104,0.043270,0.666667,1.000000,t,1,40,False,False,2
2393,availability date min_nights price...,5881841,"[True, True, True, True, True, True, True, Tru...",5,"[69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69.0, 69....",69,69,0.000000,1.000000,0.881346,f,1,1,False,True,1
2394,availability date min_nights price...,8609779,"[False, False, False, False, False, False, Fal...",2,"[140.0, 140.0, 140.0, 140.0, 140.0, 140.0, 140...",140,140,0.029149,0.033333,1.000000,t,1,13,False,False,4
2395,availability date min_nights price...,6676468,"[True, True, True, True, True, True, True, Tru...",7,"[140.0, 85.0, 85.0, 85.0, 85.0, 85.0, 140.0, 1...",85,140,0.294642,1.000000,0.860000,f,1,6,False,True,2
2396,availability date min_nights price...,9412598,"[False, False, False, False, False, False, Fal...",1,"[32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32....",32,32,0.000000,0.000000,0.900000,f,1,1,False,True,1
2397,availability date min_nights price...,6143995,"[False, False, False, False, False, False, Fal...",1,"[230.0, 200.0, 200.0, 200.0, 200.0, 200.0, 230...",200,230,0.068303,0.000000,1.000000,f,2,1,False,False,2
2398,availability date min_nights price...,2695165,"[True, True, True, True, True, True, True, Tru...",30,"[199.0, 189.0, 189.0, 189.0, 189.0, 189.0, 199...",189,199,0.024093,1.000000,1.000000,f,4,23,False,False,2

In [9]:
%%time
prediction = test.Predict(check_in="2016-05-15", check_out="2016-05-20")

CPU times: user 760 ms, sys: 154 ms, total: 914 ms
Wall time: 1.33 s

In [10]:
len(prediction)

437

In [11]:
np.max(np.array(prediction)[:,2])

0.64000000000000001