In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pickle

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_predict
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import Imputer
from sklearn import metrics
from sklearn import svm
from sklearn import datasets
from sklearn.externals import joblib

pd.options.mode.chained_assignment = None  # default='warn'

# Class: Model

## 1. Train

### run ONCE, unless model or parameter changes.

#### Input:
* round1_merge.json
* round2_merge.json
* round3_merge.json

#### Output (No explicit function return):
* model parameters saved on disk
    * clf_all_rf.pkl
    * clf_discount_rf.pkl
    

## 2. Preprocess

### run ONCE every day, after the calendar is scraped.
Read in the scraped calendar and insideAirbnb data

#### Input: 
* calendar_dir: calendar data
* inside_dir: insideAirbnb data

#### Output:
* df_listings: dataframe with the following variables
    * host listing count
    * host response rate
    * instant bookable
    * space shared with host
    * usual price
    * price variation
    * 1-month occupancy
    


## 3. Predict

### run EVERY TIME in response to a query.

#### Input:
* clf_all_rf
* clf_discount_rf
* df_merged:
    * "Host listing count"
    * "Host response rate"
    * "Instant bookable"
    * "Space shared with host"
    * "Usual price"
    * "Price variation"
    * "1-month occupancy"
* check_in: YYYY-MM-DD
* check_out: YYYY-MM-DD

* calculated intermediate variables:
    * "1-day orphan", "2-day orphan", "3-day_orphan", "Within 1 week", "1-2 weeks in advance", 
    * "orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2",
    * "Percent off highest price" 
    
#### Output:

[

    [id, pred_accept, pred_discount, already_pct_off],
    
    [id, pred_accept, pred_discount, already_pct_off],
    
    ...

]

In [93]:
class Model(object):
    
    def __init__(self, 
                 input_dir="input", 
                 intermediate_dir="intermediate", 
                 output_dir="output", 
                 calendar_date=dt.date.today().strftime("%Y%m%d"), 
                 city="nyc"):
        self.city = city
        self.input_dir = input_dir
        self.intermediate_dir = intermediate_dir
        self.output_dir = output_dir
                        
        # TODAY's DATE
        self.today_parsed = dt.datetime.today()
        self.calendar_date = calendar_date 
        self.calendar_date_parsed = dt.datetime.strptime(calendar_date, "%Y%m%d")
        
        # Imputer if NAN
        self.imputer = Imputer(copy=True, missing_values='NaN', strategy='mean', axis=1)
    
    #################################################################################################################
    def Train(self):
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        imputer = self.imputer
        
        # LOAD PREPROCESSED TRAINING DATA SILOS AND COMBINE THEM
        round5 = pd.read_json("%s/round5_merged.json"%input_dir)
        round4 = pd.read_json("%s/round4_merged.json"%input_dir)
        round3 = pd.read_json("%s/round3_merged.json"%input_dir)
        round2 = pd.read_json("%s/round2_merged.json"%input_dir)
        round1 = pd.read_json("%s/round1_merged.json"%input_dir)
        sent_info = pd.read_json("%s/sent_info.json"%input_dir)
        round5_clean = round5[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round4_clean = round4[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round3_clean = round3[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round2_clean = round2[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "decision", "price_agreed", "discount_agreed", "percent_agreed",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        round1_clean = round1[["id", "host_id", "host_response_rate", "host_acceptance_rate", 
                               "host_total_listings_count", "instant_bookable", 
                               "room_type", "bucket_name", "discount_asked", "nightly_price", 
                               "availability", "price", "discount",
                               "calendars", "price_requested", "beds", "number_of_reviews"]]
        
        round1_clean = round1_clean.rename(columns = {"availability":"decision", "price":"price_agreed", "discount":"percent_agreed"})
        round4_clean = round4_clean.rename(columns = {"discount":"discount_agreed"})
        round5_clean["decision"] = [1 if val==4 else val for val in round5_clean.decision.values]

        round1_clean["percent_agreed"] = [np.nan if val==None else float(val.strip("%"))/100. for val in  round1_clean.percent_agreed.values]

        combined = pd.concat([round1_clean, round2_clean, round3_clean, round4_clean, round5_clean], keys=["round1", "round2", "round3", "round4", "round5"], ignore_index=False)

        combined["source"] = combined.index.labels[0]+1
        combined = combined.reset_index(drop=True)

        sent_info = sent_info.rename(columns = {"property_id":"id"})
        sent_info_clean = sent_info[['id', 'source', 'start', 'end', 'sent_date']]

        combined = pd.merge(combined, sent_info_clean, on=['id', 'source'], how='inner')
        
        # CLEAN AND CONSTRUCT X VARIABLES (ESTIMATORS)
        ### PRICE RELATED
        calendar_price =  np.array([(np.median(calendar["price_USD"].values()),
                                     np.std(calendar["price_USD"].values()),
                                     np.max(calendar["price_USD"].values())) 
                                    for calendar in combined["calendars"].values])
        calendar_median_price = calendar_price[:,0]
        calendar_price_std = calendar_price[:,1]
        calendar_price_high = calendar_price[:,2]
        combined["price_median"]=calendar_median_price
        combined["price_std"]=calendar_price_std/calendar_median_price
        combined["orig_percent_off"]=1-combined["nightly_price"]/calendar_price_high
        ### OCCUPANCY
        key_1m = map(str, range(30))
        calendar_occupancy = [np.mean([calendar["availability"][key] for key in key_1m]) for calendar in combined["calendars"].values]
        combined["occupancy_1m"]=calendar_occupancy
        ### SHARED WITH HOST
        shared = combined["room_type"].values
        combined["shared"] = [x!="Entire home/apt" for x in shared]
        ### INSTANT BOOKABLE
        instant = combined["instant_bookable"].values
        combined["instant"] = [x=="t" for x in shared]
        ### RESPONSE RATE
        imputer = Imputer(copy=True, missing_values='NaN', strategy='mean', axis=1)
        response_num = np.array([float(response_rate.strip('%'))/100 for response_rate in combined["host_response_rate"].fillna(value="-100%").values])
        response_num = np.array([np.nan if x < 0 else x for x in response_num])
        response_imputed = imputer.fit_transform(response_num)[0]
        combined["response_rate"] = response_imputed
        ### CALCULATE NUMERIC BUCKET
        calc_len = lambda row: (dt.datetime.strptime(row["end"], '%Y-%m-%d') - dt.datetime.strptime(row["start"], '%Y-%m-%d')).days
        calc_adv = lambda row: np.floor((dt.datetime.strptime(row["start"], '%Y-%m-%d') - dt.datetime.strptime(row["sent_date"], '%Y-%m-%d')).days/7)
        combined["length_num"] = combined.apply(calc_len, axis=1)
        combined["advance_num"] = combined.apply(calc_adv, axis=1)
        ### BUCKETS (LONG...)
        opening_attr = combined["bucket_name"].values
        N = len(opening_attr)
        orp_1 = np.zeros(N)
        orp_2 = np.zeros(N)
        orp_3 = np.zeros(N)
        adv_1 = np.zeros(N)
        adv_2 = np.zeros(N)

        orphan = np.ones(N)

        for (i,x) in enumerate(opening_attr):
            if x == "days1_weeks1":
                orp_1[i] = 1
                adv_1[i] = 1
            elif x == "days1_weeks2":
                orp_1[i] = 1
                adv_2[i] = 1
            elif x == "days1_weeksM":
                orp_1[i] = 1
            elif x == "days2_weeks1":
                orp_2[i] = 1
                adv_1[i] = 1
            elif x == "days2_weeks2":
                orp_2[i] = 1
                adv_2[i] = 1
            elif x == "days2_weeksM":
                orp_2[i] = 1
            elif x == "days3_weeks1":
                orp_3[i] = 1
                adv_1[i] = 1
            elif x == "days3_weeks2":
                orp_3[i] = 1
                adv_2[i] = 1
            elif x == "days3_weeksM":
                orp_3[i] = 1
            elif x == "daysM_weeks1":
                adv_1[i] = 1
                orphan[i] = 0
            elif x == "daysM_weeks2":
                adv_2[i] = 1
                orphan[i] = 0
            elif x == "daysM_weeksM":
                orphan[i] = 0

        combined["orp_1"]=orp_1
        combined["orp_2"]=orp_2
        combined["orp_3"]=orp_3
        combined["adv_1"]=adv_1
        combined["adv_2"]=adv_2

        combined["orphan"] = orphan
        combined["orp_1, adv_1"] = combined["orp_1"]*combined["adv_1"]
        combined["orp_1, adv_2"] = combined["orp_1"]*combined["adv_2"]
        combined["orp_2, adv_1"] = combined["orp_2"]*combined["adv_1"]
        combined["orp_2, adv_2"] = combined["orp_2"]*combined["adv_2"]
        combined["orp_3, adv_1"] = combined["orp_3"]*combined["adv_1"]
        combined["orp_3, adv_2"] = combined["orp_3"]*combined["adv_2"]
        
        # CLEAN AND CONSTRUCT Y VARIABLES (TARGETS)
        ### DISCOUNT
        orig_price = combined["nightly_price"]
        price_agreed_percent = (np.nan_to_num(combined["price_agreed"])/orig_price)
        discount_agreed1 = [0 if (d>=1 or d==0) else 1-d for d in price_agreed_percent]
        discount_agreed2 = np.nan_to_num(combined["discount_agreed"]/orig_price)
        discount_agreed3 = np.nan_to_num(combined["percent_agreed"])
        discount_obtained = np.max([discount_agreed1, discount_agreed2, discount_agreed3], axis=0)
        combined["discount_obtained"] = discount_obtained

        # CREATE TRAINING SAMPLES
        mask_available = combined["decision"] != -1 
        mask_agreed = combined["discount_obtained"] != 0
        mask_no_source1 = combined["source"] != 1
        combined_available = combined[mask_available]
        combined_agreed = combined[mask_agreed * mask_no_source1]
        cal_param_1 = ["orp_1", "orp_2", "orp_3", "adv_1", "adv_2"]
        cal_param_1_num = ["orphan", "length_num", "advance_num"]
        cal_param_2 = ["orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2"]
        host_param = ["host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                      "price_median", "price_std", "occupancy_1m", "orig_percent_off"]
        param_rf = cal_param_1_num + host_param
        param_lr = cal_param_1_num + host_param + cal_param_2

        X_responded_rf = combined_available[param_rf].values
        X_responded_lr = combined_available[param_lr].values
        Y_responded = combined_available["decision"].values

        X_all_rf = combined[param_rf].values
        X_all_lr = combined[param_lr].values
        Y_all = combined["decision"].values 
        Y_all = np.max(zip(Y_all,np.zeros(len(Y_all))), axis=1)

        X_discount_rf = combined_agreed[param_rf].values
        X_discount_lr = combined_agreed[param_lr].values
        Y_discount = combined_agreed["discount_obtained"].values
        
        # CREATE PLOT LABELS
        features = ["orp_1", "orp_2", "orp_3", "adv_1", "adv_2",
                    "orphan", "length_num", "advance_num",
                    "orp_1, adv_1", "orp_1, adv_2", "orp_2, adv_1", "orp_2, adv_2", "orp_3, adv_1", "orp_3, adv_2",
                    "host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                    "price_median", "price_std", "occupancy_1m", "orig_percent_off"]

        labels = ["1-day orphan", "2-day orphan", "3-day_orphan", "Within 1 week", "1-2 weeks in advance",
                  "Orphan day", "Length of stay", "Weeks in advance",
                  "1-day orphan within 1 week", "1-day orphan 1-2 weeks in advance", 
                  "2-day orphan within 1 week", "2-day orphan 1-2 weeks in advance", 
                  "3-day orphan within 1 week", "3-day orphan 1-2 weeks in advance", 
                  "Host listing count", "Host response rate", "Instant bookable", "Space shared with host", "Number of beds", "Number of reviews",
                  "Usual price", "Price variation", "1-month occupancy", "Off Highest Price"]

        label_dict = dict(zip(features, labels))
        
        # CLASSIFY NEGOTIABLE HOSTS WITH RANDOM FOREST
        clf_all_rf = RandomForestClassifier(n_estimators=200, 
                                        max_features=7, 
                                        max_depth=None,
                                        min_samples_split=1,
                                        n_jobs=-1,
                                        warm_start=True,
                                        class_weight = "balanced")
        clf_all_rf.fit(X_all_rf, Y_all)
        
        # CLASSIFY ANTICIPATED DISCOUNT WITH RANDOM FOREST
        clf_discount_rf = RandomForestRegressor(n_estimators=50, 
                                        max_features=7, 
                                        max_depth=None,
                                        min_samples_split=1,
                                        n_jobs=-1,
                                        warm_start=True)
        clf_discount_rf.fit(X_discount_rf, Y_discount)
        
        # SAVING THE MODEL TO EXTERNAL FILE
        with open('%s/clf_all_rf.pkl'%intermediate_dir, 'wb') as f:
            pickle.dump(clf_all_rf, f)
        with open('%s/clf_discount_rf.pkl'%intermediate_dir, 'wb') as f:
            pickle.dump(clf_discount_rf, f)

        return
    #################################################################################################################
                                         
                                                                              
    #################################################################################################################
    def Preprocess(self):
        # INITIALIZE VARIABLES
        city = self.city
        today_parsed = self.today_parsed
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        calendar_date = self.calendar_date
        calendar_date_parsed = self.calendar_date_parsed
        imputer = self.imputer

        inside_raw = pd.read_csv("%s/listings_%s.csv"%(input_dir, city))
        calendar_raw = pd.read_json("%s/calendar_%s_%s.json"%(input_dir, city, calendar_date))
       
        # CALENDAR: PARSE CALENDAR DATA INTO DATAFRAME
        parsed_calendars = {}
        for i in calendar_raw.keys():
            parsed_calendars[i] = self.parse_calendar(calendar_raw[i], today_parsed)
        listing_id = [int(key) for key in parsed_calendars.keys()]
        df_calendar = pd.DataFrame({'id': listing_id, 'calendars': parsed_calendars.values()})        
        
        # CALENDAR: ADD COLUMNS FOR FUTURE CALCULATION
        ### AVAILABILITY
        calendar_available = [calendar["availability"].values for calendar in df_calendar['calendars']]
        df_calendar["availabilities"] = calendar_available
        ### MIN NIGHTS
        calendar_min_nights = [np.max(calendar["min_nights"].values) for calendar in df_calendar['calendars']]
        df_calendar["min_nights"] = calendar_min_nights
        
        
        ### PRICE RELATED 
        calendar_price = [calendar["price_USD"].values for calendar in df_calendar['calendars']]
        df_calendar["prices"] = calendar_price
        df_calendar["price_median"] = np.median(calendar_price, axis=1)
        df_calendar["price_high"] = np.max(calendar_price, axis=1)
        df_calendar["price_std"] = np.std(calendar_price, axis=1)/df_calendar["price_median"]

        
        ### 1M OCCUPANCY
        key_1m = range(30)
        calendar_occupancy = [np.mean([calendar["availability"][key] for key in key_1m]) 
                              for calendar in df_calendar["calendars"].values]
        df_calendar["occupancy_1m"]=calendar_occupancy
    
    
        # INSIDEAIRBNB: PREPROCESS COLUMNS
        ### SHARED
        shared = inside_raw["room_type"].values
        inside_raw["shared"] = [x!="Entire home/apt" for x in shared]
        ### INSTANT
        instant = inside_raw["instant_bookable"].values
        inside_raw["instant"] = [x=="t" for x in shared]
        ### RESPONSE RATE
        response_num = np.array([float(response_rate.strip('%'))/100 
                                 for response_rate in inside_raw["host_response_rate"].fillna(value="-100%").values])
        response_num = np.array([np.nan if x < 0 else x for x in response_num])
        response_imputed = imputer.fit_transform(response_num)[0]
        inside_raw["response_rate"] = response_imputed
    
        # SELECT USEFUL COLUMNS FROM INSIDEAIRBNB DATA
        inside_col = [u'id', u'response_rate', u'host_is_superhost', u'host_total_listings_count', 
                      u'number_of_reviews', u'instant', u'shared', u'beds']
        df_listing = inside_raw[inside_col]
        imputer = self.imputer
        

        # MERGE CALENDAR WITH INSIDEAIRBNB DATA
        df_merged = pd.merge(df_calendar, df_listing, on='id', how='inner')
                
        self.df_merged = df_merged
        
        df_merged.to_json("%s/preprocessed_calendar_%s.json" %(intermediate_dir, calendar_date))
        return
    
    # UTILITY FUNCTIONS FOR PREPROCESS
    def parse_calendar(self, calendar, today):
        date = []
        price_USD = []
        availability = []
        min_nights = []
        day_list = []
        for month in calendar['calendar_months']:
            for day in month['days']:
                day_parsed = dt.datetime.strptime(day['date'], '%Y-%m-%d')
                if (day_parsed > today) & (day_parsed not in day_list):
                    date.append(day['date'])
                    price_USD.append(day['price']['native_price'])
                    availability.append(day['available'])
                    min_nights.append(month['condition_ranges'][0]['conditions'][u'min_nights'])
                day_list.append(day_parsed)
        return pd.DataFrame({'date':date, 'price_USD': price_USD, 'availability':availability, 'min_nights': min_nights}) 
    #################################################################################################################
    
    
    
    #################################################################################################################
    def Predict(self, check_in, check_out):
        input_dir = self.input_dir
        intermediate_dir = self.intermediate_dir
        output_dir = self.output_dir
        today_parsed = self.today_parsed
        calendar_date = self.calendar_date
        calendar_date_parsed = self.calendar_date_parsed
        imputer = self.imputer

        df_merged = pd.read_json("%s/preprocessed_calendar_%s.json" %(intermediate_dir, calendar_date))
        
        with open('%s/clf_all_rf.pkl'%intermediate_dir, 'rb') as f:
            clf_all = pickle.load(f)
        with open('%s/clf_discount_rf.pkl'%intermediate_dir, 'rb') as f:
            clf_discount = pickle.load(f)
        
        # PREPROCESS CHECKIN AND CHECKOUT DATE
        check_in_parsed = dt.datetime.strptime(check_in, '%Y-%m-%d')
        check_out_parsed = dt.datetime.strptime(check_out, '%Y-%m-%d')
        
        # NARROW BOOKABLE LISTINGS
        advance = (check_in_parsed - today_parsed).days + 1
        length = (check_out_parsed - check_in_parsed).days
        mask_bookable = df_merged.apply(lambda row: 1 
                                        if ((np.sum(row['availabilities'][advance-1: advance-1+length]) == length) 
                                            & (row['min_nights'] <= length)) 
                                        else 0, axis=1)
        
        df_bookable = df_merged[mask_bookable==1]
        orphan = df_bookable.apply(lambda row: row['availabilities'][advance-2]==False & row['availabilities'][advance-1+length]==False, axis=1)
        count_bookable = len(df_bookable)
        print count_bookable
        
        # CALCULATE ALREADY DISCOUNTED
        df_bookable["nightly_price"] = df_bookable.apply(lambda row: np.mean(row['prices'][advance-1: advance-1+length]), axis=1)
        df_bookable["orig_percent_off"] = 1 - df_bookable["nightly_price"]/df_bookable["price_high"]

        # CALCULATE TRIP DETAILS
        # CREATE TEST SET
        X_trip = np.zeros((count_bookable,3))
        X_trip[:,0] = orphan
        X_trip[:,1] = length
        X_trip[:,2] = advance
        X_listing = imputer.fit_transform(df_bookable[["host_total_listings_count", "response_rate", "instant", "shared", "beds", "number_of_reviews",
                                                                        "price_median", "price_std", "occupancy_1m", "orig_percent_off"]].values)
        X_test = np.hstack((X_trip, X_listing)) 
    
        predict_all = clf_all.predict_proba(X_test)[:,1]
        predict_discount = clf_discount.predict(X_test)
        
        return zip(df_bookable["id"].values, df_bookable["orig_percent_off"].values, predict_all, predict_discount)
#         return df_merged, mask_bookable
#         return df_bookable
        
    #################################################################################################################

In [89]:
test = Model(calendar_date="20160502")
# test.Train()
test.Preprocess()

/Users/fqian/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/fqian/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

,calendars,id,availabilities,min_nights,prices,price_median,price_high,price_std,occupancy_1m,response_rate,host_is_superhost,host_total_listings_count,number_of_reviews,instant,shared,beds
0,availability date min_nights price...,7593985,"[False, False, False, False, False, False, Fal...",2,"[115.0, 115.0, 115.0, 115.0, 115.0, 115.0, 115...",115,115,0.000000,0.000000,0.900000,f,1,16,False,True,1
1,availability date min_nights price...,1515522,"[False, False, False, False, False, False, Fal...",2,"[65.0, 65.0, 75.0, 75.0, 65.0, 65.0, 65.0, 65....",65,75,0.070627,0.100000,0.881346,f,1,2,False,True,1
2,availability date min_nights price...,8827515,"[False, False, False, False, False, False, Fal...",1,"[61.0, 62.0, 65.0, 66.0, 61.0, 60.0, 59.0, 60....",61,82,0.110791,0.000000,1.000000,f,8,16,False,True,1
3,availability date min_nights price...,344068,"[False, False, False, False, False, False, Fal...",21,"[160.0, 160.0, 160.0, 160.0, 160.0, 160.0, 160...",160,160,0.000000,0.000000,0.881346,f,1,0,False,True,1
4,availability date min_nights price...,819206,"[True, True, True, False, False, False, False,...",2,"[45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45....",45,45,0.000000,0.700000,1.000000,f,1,50,False,True,1
5,availability date min_nights price...,5050369,"[False, False, False, False, False, False, Fal...",1,"[250.0, 250.0, 250.0, 250.0, 250.0, 250.0, 250...",250,250,0.000000,0.000000,0.881346,f,1,0,False,False,1
6,availability date min_nights price...,2154504,"[False, False, False, False, False, False, Fal...",2,"[89.0, 91.0, 96.0, 98.0, 92.0, 90.0, 90.0, 92....",91,103,0.130317,0.000000,0.881346,f,1,12,False,True,1
7,availability date min_nights price...,8799575,"[True, True, True, True, True, True, True, Tru...",1,"[185.0, 185.0, 242.0, 242.0, 185.0, 185.0, 185...",185,242,0.141445,1.000000,0.710000,f,1,2,False,False,1
8,availability date min_nights price...,5423117,"[True, True, False, False, False, False, True,...",3,"[50.0, 50.0, 55.0, 55.0, 50.0, 50.0, 50.0, 50....",50,59,0.069335,0.866667,0.620000,f,5,6,False,True,2
9,availability date min_nights price...,3850254,"[False, False, False, False, False, False, Fal...",3,"[90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90....",90,105,0.068174,0.033333,0.881346,f,1,6,False,False,1
10,availability date min_nights price...,450577,"[False, False, False, False, False, False, Fal...",3,"[275.0, 275.0, 275.0, 275.0, 300.0, 275.0, 300...",300,325,0.050608,0.000000,1.000000,f,1,42,False,False,2
11,availability date min_nights price...,344082,"[False, False, False, False, False, False, Fal...",10,"[100.0, 100.0, 75.0, 75.0, 75.0, 75.0, 75.0, 7...",75,100,0.063519,0.000000,1.000000,t,2,39,False,True,2
12,availability date min_nights price...,8798227,"[False, False, False, False, False, False, Fal...",2,"[84.0, 84.0, 84.0, 84.0, 84.0, 84.0, 84.0, 84....",84,84,0.000000,0.000000,1.000000,f,1,1,False,False,1
13,availability date min_nights price...,10141718,"[True, False, False, False, False, False, True...",2,"[175.0, 175.0, 175.0, 175.0, 175.0, 175.0, 175...",175,175,0.000000,0.633333,0.881346,f,1,0,False,False,1
14,availability date min_nights price...,9027607,"[False, False, False, False, False, False, Fal...",1,"[175.0, 175.0, 220.0, 220.0, 175.0, 175.0, 175...",175,220,0.118048,0.000000,0.600000,f,1,0,False,False,2
15,availability date min_nights price...,1810457,"[True, True, True, False, False, False, False,...",3,"[125.0, 125.0, 125.0, 125.0, 125.0, 125.0, 125...",125,125,0.000000,0.433333,1.000000,f,1,43,False,False,2
16,availability date min_nights price...,5593679,"[False, False, False, False, False, False, Fal...",2,"[189.0, 189.0, 189.0, 189.0, 189.0, 189.0, 189...",189,189,0.000000,0.000000,0.881346,f,1,3,False,False,1
17,availability date min_nights price...,4710429,"[False, False, False, False, False, False, Fal...",1,"[300.0, 300.0, 375.0, 375.0, 375.0, 375.0, 375...",375,400,0.045770,0.000000,0.840000,f,1,48,False,False,4
18,availability date min_nights price...,6881310,"[False, False, False, False, False, False, Fal...",5,"[50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50....",50,50,0.000000,0.000000,1.000000,f,1,1,False,True,1
19,availability date min_nights price...,204833,"[True, True, True, True, True, True, False, Fa...",3,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",100,100,0.000000,0.833333,0.881346,f,1,8,False,True,1
20,availability date min_nights price...,647204,"[False, False, False, False, False, False, Fal...",1,"[140.0, 140.0, 140.0, 140.0, 140.0, 140.0, 140...",140,140,0.000000,0.166667,0.750000,f,1,18,False,False,1
21,availability date min_nights price...,8921125,"[False, False, False, False, False, False, Fal...",1,"[250.0, 250.0, 250.0, 250.0, 250.0, 250.0, 250...",250,250,0.000000,0.000000,0.881346,f,1,0,False,False,4
22,availability date min_nights price...,16422,"[True, True, True, True, True, True, True, Tru...",1,"[85.0, 85.0, 85.0, 85.0, 85.0, 85.0, 85.0, 85....",85,85,0.000000,1.000000,0.881346,f,1,29,False,True,1
23,availability date min_nights price...,7561257,"[True, True, True, True, True, False, False, F...",2,"[89.0, 89.0, 89.0, 89.0, 89.0, 89.0, 89.0, 89....",89,99,0.025964,0.533333,1.000000,f,1,1,False,True,1
24,availability date min_nights price...,2932779,"[False, False, False, False, False, False, Fal...",2,"[75.0, 75.0, 90.0, 90.0, 75.0, 75.0, 75.0, 75....",75,90,0.088176,0.000000,0.881346,f,1,5,False,True,1
25,availability date min_nights price...,5095468,"[False, False, False, False, False, False, Fal...",2,"[200.0, 200.0, 200.0, 200.0, 200.0, 200.0, 200...",200,250,0.047639,0.166667,0.920000,f,1,52,False,False,3
26,availability date min_nights price...,6758445,"[False, False, False, False, False, False, Fal...",2,"[90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90.0, 90....",90,90,0.000000,0.000000,0.881346,f,1,9,False,False,2
27,availability date min_nights price...,9093168,"[False, False, False, False, False, False, Fal...",1,"[140.0, 140.0, 140.0, 140.0, 140.0, 140.0, 140...",140,140,0.031318,0.000000,1.000000,f,1,2,False,False,1
28,availability date min_nights price...,786481,"[True, True, True, True, True, True, True, Tru...",2,"[59.0, 59.0, 59.0, 59.0, 59.0, 59.0, 59.0, 59....",59,59,0.000000,1.000000,0.750000,f,2,11,False,True,1
29,availability date min_nights price...,4644914,"[False, False, False, False, False, False, Fal...",1,"[172.0, 172.0, 172.0, 172.0, 172.0, 172.0, 172...",145,172,0.077403,0.000000,0.860000,f,2,3,False,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,availability date min_nights price...,794567,"[False, False, False, False, False, False, Fal...",3,"[72.0, 72.0, 72.0, 72.0, 72.0, 72.0, 72.0, 72....",82,82,0.059648,0.300000,0.830000,f,1,25,False,True,1
3970,availability date min_nights price...,4095945,"[True, True, True, True, True, True, True, Tru...",1,"[120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120...",120,120,0.000000,1.000000,0.881346,f,1,3,False,True,1
3971,availability date min_nights price...,10264523,"[False, False, True, True, True, True, True, T...",2,"[350.0, 350.0, 159.0, 159.0, 159.0, 159.0, 159...",159,350,0.334670,0.700000,1.000000,f,3,0,False,True,1
3972,availability date min_nights price...,10682316,"[False, False, False, False, False, False, Fal...",4,"[50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50....",50,50,0.000000,0.000000,0.881346,f,1,0,False,True,1
3973,availability date min_nights price...,1572815,"[False, False, False, False, False, False, Fal...",1,"[120.0, 120.0, 130.0, 130.0, 130.0, 130.0, 130...",130,130,0.035905,0.333333,1.000000,f,1,51,False,True,1
3974,availability date min_nights price...,9510864,"[False, False, False, False, False, False, Fal...",3,"[300.0, 300.0, 300.0, 300.0, 300.0, 300.0, 300...",300,300,0.000000,0.000000,0.890000,f,1,1,False,False,2
3975,availability date min_nights price...,8069112,"[False, False, False, False, False, False, Fal...",3,"[160.0, 160.0, 160.0, 160.0, 160.0, 160.0, 160...",150,160,0.033280,0.500000,1.000000,f,1,0,False,False,1
3976,availability date min_nights price...,3039186,"[False, False, False, False, False, False, Fal...",1,"[300.0, 300.0, 400.0, 400.0, 300.0, 300.0, 300...",300,400,0.159852,0.033333,0.840000,f,5,36,False,False,2
3977,availability date min_nights price...,753622,"[True, False, False, False, False, False, Fals...",5,"[98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98....",98,98,0.000000,0.500000,0.780000,f,2,27,False,True,1
3978,availability date min_nights price...,9543640,"[False, False, False, False, False, False, Fal...",10,"[89.0, 89.0, 109.0, 109.0, 89.0, 89.0, 89.0, 8...",130,150,0.137552,0.133333,1.000000,f,1,0,False,True,1
3979,availability date min_nights price...,8470491,"[False, False, False, False, False, False, Fal...",2,"[195.0, 195.0, 195.0, 195.0, 195.0, 195.0, 195...",195,245,0.053968,0.066667,0.980000,f,2,18,False,False,1
3980,availability date min_nights price...,8634332,"[True, False, False, False, False, False, Fals...",1,"[56.0, 77.0, 81.0, 82.0, 76.0, 74.0, 74.0, 75....",79,98,0.082839,0.300000,1.000000,f,8,14,False,True,1
3981,availability date min_nights price...,7581690,"[False, False, False, False, False, False, Fal...",3,"[150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150...",150,150,0.000000,0.000000,0.881346,f,1,0,False,False,2
3982,availability date min_nights price...,8454110,"[True, False, False, False, False, False, Fals...",2,"[125.0, 125.0, 125.0, 125.0, 125.0, 125.0, 125...",125,135,0.019796,0.100000,1.000000,f,1,2,False,False,1
3983,availability date min_nights price...,6478501,"[True, True, True, True, True, True, True, Tru...",1,"[99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99....",99,99,0.000000,1.000000,0.870000,f,3,3,False,True,1
3984,availability date min_nights price...,7634912,"[False, False, False, False, False, False, Fal...",1,"[75.0, 75.0, 85.0, 85.0, 75.0, 75.0, 75.0, 75....",75,85,0.061210,0.000000,1.000000,f,2,3,False,True,1
3985,availability date min_nights price...,4653025,"[False, False, False, False, False, False, Fal...",1,"[150.0, 150.0, 160.0, 160.0, 150.0, 150.0, 150...",150,160,0.030605,0.000000,1.000000,f,1,4,False,False,1
3986,availability date min_nights price...,2752482,"[False, False, False, False, True, True, True,...",6,"[140.0, 140.0, 140.0, 140.0, 120.0, 120.0, 120...",120,140,0.062578,0.300000,1.000000,f,1,19,False,False,1
3987,availability date min_nights price...,9635223,"[False, False, False, False, False, False, Fal...",2,"[45.0, 45.0, 50.0, 50.0, 45.0, 45.0, 45.0, 45....",45,50,0.051008,0.000000,1.000000,f,1,1,False,True,1
3988,availability date min_nights price...,4882405,"[False, False, False, False, False, False, Fal...",1,"[300.0, 300.0, 300.0, 300.0, 300.0, 300.0, 300...",265,300,0.064020,0.466667,1.000000,t,1,37,False,False,1
3989,availability date min_nights price...,7774182,"[True, False, False, False, True, False, False...",2,"[210.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275...",275,325,0.096375,0.500000,1.000000,f,2,3,False,False,3
3990,availability date min_nights price...,2629613,"[False, False, False, False, False, False, Fal...",2,"[269.0, 269.0, 295.0, 295.0, 269.0, 269.0, 269...",269,295,0.085529,0.033333,0.960000,t,3,70,False,False,1
3991,availability date min_nights price...,10723310,"[False, False, False, False, False, True, True...",1,"[86.0, 86.0, 86.0, 86.0, 86.0, 86.0, 86.0, 86....",86,86,0.013595,0.533333,1.000000,f,1,0,False,True,3
3992,availability date min_nights price...,9218728,"[False, False, False, False, False, False, Fal...",1,"[110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...",110,110,0.000000,0.000000,1.000000,f,1,0,False,False,1
3993,availability date min_nights price...,8806783,"[False, False, False, False, False, False, Fal...",2,"[150.0, 150.0, 230.0, 230.0, 150.0, 150.0, 150...",160,230,0.213993,0.200000,1.000000,f,1,8,False,False,2
3994,availability date min_nights price...,2768886,"[False, False, False, False, False, False, Fal...",3,"[67.0, 67.0, 67.0, 67.0, 67.0, 68.0, 68.0, 68....",64,68,0.039796,0.000000,1.000000,f,7,39,False,True,1
3995,availability date min_nights price...,8159223,"[False, False, False, False, False, False, Fal...",3,"[225.0, 225.0, 225.0, 225.0, 225.0, 225.0, 225...",225,225,0.000000,0.000000,1.000000,f,1,1,False,False,3
3996,availability date min_nights price...,6422520,"[True, True, True, True, True, True, True, Tru...",1,"[120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120...",120,120,0.000000,1.000000,0.881346,f,1,1,False,True,1
3997,availability date min_nights price...,7757818,"[True, True, True, True, True, True, True, Tru...",1,"[275.0, 275.0, 325.0, 325.0, 275.0, 275.0, 275...",275,325,0.083468,1.000000,0.600000,f,1,4,False,True,1
3998,availability date min_nights price...,5029887,"[False, False, False, False, False, False, Fal...",1,"[140.0, 140.0, 140.0, 140.0, 140.0, 140.0, 140...",140,140,0.000000,0.000000,0.600000,f,2,0,False,False,2

In [90]:
%%time
prediction = test.Predict(check_in="2016-05-15", check_out="2016-05-20")

403
403
CPU times: user 777 ms, sys: 145 ms, total: 922 ms
Wall time: 1.17 s

In [91]:
np.argmax(np.array(prediction)[:, 2])

372

In [72]:
prediction[46]

(8267626, 0.050000000000000044, 0.64000000000000001, 0.21456175305928873)

In [92]:
prediction[372]

(6627453, 0.18333333333333335, 0.66000000000000003, 0.11154916747647213)

In [31]:
df_merged, mask_bookable = test.Predict(check_in="2016-05-15", check_out="2016-05-20")

5
5

In [49]:
df_merged[mask_bookable1==1].head()

,availabilities,beds,calendars,host_is_superhost,host_total_listings_count,id,instant,min_nights,number_of_reviews,occupancy_1m,price_high,price_median,price_std,prices,response_rate,shared
1019,"[True, True, True, True, True, True, True, Tru...",1,"{u'date': {u'56': u'2016-06-28', u'54': u'2016...",f,1,3876850,False,1,6,1.000000,175,175,0.000000,"[175.0, 175.0, 175.0, 175.0, 175.0, 175.0, 175...",0.881346,True
1052,"[True, True, True, True, True, True, True, Tru...",1,"{u'date': {u'56': u'2016-06-28', u'54': u'2016...",f,2,10242095,False,2,0,1.000000,75,62,0.095630,"[62.0, 62.0, 62.0, 75.0, 75.0, 62.0, 62.0, 62....",1.000000,True
1056,"[False, True, True, True, True, True, True, Tr...",2,"{u'date': {u'56': u'2016-06-28', u'54': u'2016...",f,2,10225719,False,1,0,0.833333,75,65,0.074623,"[59.0, 59.0, 59.0, 75.0, 75.0, 59.0, 59.0, 59....",1.000000,True
1069,"[True, True, True, True, True, True, True, Tru...",1,"{u'date': {u'56': u'2016-06-28', u'54': u'2016...",f,1,5875384,False,1,5,0.966667,45,45,0.000000,"[45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45....",0.881346,True
1072,"[True, True, True, True, True, True, True, Tru...",1,"{u'date': {u'56': u'2016-06-28', u'54': u'2016...",f,2,702213,False,3,21,1.000000,100,100,0.000000,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",1.000000,True

In [83]:
df_merged[df_merged['id']==8267626]["availabilities"].values

array([ [False, False, False, False, True, True, True, True, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False]], dtype=object)

In [43]:
advance=5
length=5
mask_bookable1 = df_merged.apply(lambda row: 1 
                                if ((np.sum(row['availabilities'][advance-1: advance-1+length]) == length) 
                                    & (row['min_nights'] <= length)) 
                                else 0, axis=1)

In [61]:
np.sum(mask_bookable1)

338

In [41]:
df_merged.apply(lambda row: row['availabilities'][advance-1: advance-1+length])

KeyError: ('availabilities', u'occurred at index availabilities')

In [38]:
df_merged.availabilities.values

array([ [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True],
       [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True],
       ...,
       [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False],
       [True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True],
       [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], dtype=object)

In [34]:
df_merged["calendars"].values[0]

{u'availability': {u'0': False,
  u'1': False,
  u'10': False,
  u'11': False,
  u'12': False,
  u'13': False,
  u'14': False,
  u'15': False,
  u'16': False,
  u'17': False,
  u'18': False,
  u'19': False,
  u'2': False,
  u'20': False,
  u'21': False,
  u'22': False,
  u'23': False,
  u'24': False,
  u'25': False,
  u'26': False,
  u'27': False,
  u'28': False,
  u'29': False,
  u'3': False,
  u'30': False,
  u'31': False,
  u'32': False,
  u'33': False,
  u'34': False,
  u'35': False,
  u'36': False,
  u'37': False,
  u'38': False,
  u'39': False,
  u'4': False,
  u'40': False,
  u'41': False,
  u'42': False,
  u'43': False,
  u'44': False,
  u'45': False,
  u'46': False,
  u'47': False,
  u'48': False,
  u'49': False,
  u'5': False,
  u'50': False,
  u'51': False,
  u'52': False,
  u'53': False,
  u'54': False,
  u'55': False,
  u'56': False,
  u'57': False,
  u'58': False,
  u'59': False,
  u'6': False,
  u'60': False,
  u'7': False,
  u'8': False,
  u'9': False},
 u'date': {u'0': u'2016-05-03',
  u'1': u'2016-05-04',
  u'10': u'2016-05-13',
  u'11': u'2016-05-14',
  u'12': u'2016-05-15',
  u'13': u'2016-05-16',
  u'14': u'2016-05-17',
  u'15': u'2016-05-18',
  u'16': u'2016-05-19',
  u'17': u'2016-05-20',
  u'18': u'2016-05-21',
  u'19': u'2016-05-22',
  u'2': u'2016-05-05',
  u'20': u'2016-05-23',
  u'21': u'2016-05-24',
  u'22': u'2016-05-25',
  u'23': u'2016-05-26',
  u'24': u'2016-05-27',
  u'25': u'2016-05-28',
  u'26': u'2016-05-29',
  u'27': u'2016-05-30',
  u'28': u'2016-05-31',
  u'29': u'2016-06-01',
  u'3': u'2016-05-06',
  u'30': u'2016-06-02',
  u'31': u'2016-06-03',
  u'32': u'2016-06-04',
  u'33': u'2016-06-05',
  u'34': u'2016-06-06',
  u'35': u'2016-06-07',
  u'36': u'2016-06-08',
  u'37': u'2016-06-09',
  u'38': u'2016-06-10',
  u'39': u'2016-06-11',
  u'4': u'2016-05-07',
  u'40': u'2016-06-12',
  u'41': u'2016-06-13',
  u'42': u'2016-06-14',
  u'43': u'2016-06-15',
  u'44': u'2016-06-16',
  u'45': u'2016-06-17',
  u'46': u'2016-06-18',
  u'47': u'2016-06-19',
  u'48': u'2016-06-20',
  u'49': u'2016-06-21',
  u'5': u'2016-05-08',
  u'50': u'2016-06-22',
  u'51': u'2016-06-23',
  u'52': u'2016-06-24',
  u'53': u'2016-06-25',
  u'54': u'2016-06-26',
  u'55': u'2016-06-27',
  u'56': u'2016-06-28',
  u'57': u'2016-06-29',
  u'58': u'2016-06-30',
  u'59': u'2016-07-01',
  u'6': u'2016-05-09',
  u'60': u'2016-07-02',
  u'7': u'2016-05-10',
  u'8': u'2016-05-11',
  u'9': u'2016-05-12'},
 u'min_nights': {u'0': 2,
  u'1': 2,
  u'10': 2,
  u'11': 2,
  u'12': 2,
  u'13': 2,
  u'14': 2,
  u'15': 2,
  u'16': 2,
  u'17': 2,
  u'18': 2,
  u'19': 2,
  u'2': 2,
  u'20': 2,
  u'21': 2,
  u'22': 2,
  u'23': 2,
  u'24': 2,
  u'25': 2,
  u'26': 2,
  u'27': 2,
  u'28': 2,
  u'29': 2,
  u'3': 2,
  u'30': 2,
  u'31': 2,
  u'32': 2,
  u'33': 2,
  u'34': 2,
  u'35': 2,
  u'36': 2,
  u'37': 2,
  u'38': 2,
  u'39': 2,
  u'4': 2,
  u'40': 2,
  u'41': 2,
  u'42': 2,
  u'43': 2,
  u'44': 2,
  u'45': 2,
  u'46': 2,
  u'47': 2,
  u'48': 2,
  u'49': 2,
  u'5': 2,
  u'50': 2,
  u'51': 2,
  u'52': 2,
  u'53': 2,
  u'54': 2,
  u'55': 2,
  u'56': 2,
  u'57': 2,
  u'58': 2,
  u'59': 2,
  u'6': 2,
  u'60': 2,
  u'7': 2,
  u'8': 2,
  u'9': 2},
 u'price_USD': {u'0': 115.0,
  u'1': 115.0,
  u'10': 115.0,
  u'11': 115.0,
  u'12': 115.0,
  u'13': 115.0,
  u'14': 115.0,
  u'15': 115.0,
  u'16': 115.0,
  u'17': 115.0,
  u'18': 115.0,
  u'19': 115.0,
  u'2': 115.0,
  u'20': 115.0,
  u'21': 115.0,
  u'22': 115.0,
  u'23': 115.0,
  u'24': 115.0,
  u'25': 115.0,
  u'26': 115.0,
  u'27': 115.0,
  u'28': 115.0,
  u'29': 115.0,
  u'3': 115.0,
  u'30': 115.0,
  u'31': 115.0,
  u'32': 115.0,
  u'33': 115.0,
  u'34': 115.0,
  u'35': 115.0,
  u'36': 115.0,
  u'37': 115.0,
  u'38': 115.0,
  u'39': 115.0,
  u'4': 115.0,
  u'40': 115.0,
  u'41': 115.0,
  u'42': 115.0,
  u'43': 115.0,
  u'44': 115.0,
  u'45': 115.0,
  u'46': 115.0,
  u'47': 115.0,
  u'48': 115.0,
  u'49': 115.0,
  u'5': 115.0,
  u'50': 115.0,
  u'51': 115.0,
  u'52': 115.0,
  u'53': 115.0,
  u'54': 115.0,
  u'55': 115.0,
  u'56': 115.0,
  u'57': 115.0,
  u'58': 115.0,
  u'59': 115.0,
  u'6': 115.0,
  u'60': 115.0,
  u'7': 115.0,
  u'8': 115.0,
  u'9': 115.0}}

In [24]:
prediction[:5]

[(7593985, 0.0, 0.13, 0.14790308499394608),
 (1515522, 0.10666666666666669, 0.059999999999999998, 0.15166369253132253),
 (3614680, 0.0, 0.25, 0.1239565114851109),
 (7972825, 0.0, 0.22, 0.12087919900633841),
 (8521692, 0.0, 0.10000000000000001, 0.15851940242947163)]

In [11]:
np.max(np.array(prediction)[:,2])

0.64000000000000001

In [19]:
calendar_raw = pd.read_json("input/calendar_nyc_20160502.json")

In [87]:
parsed_calendars = {}
for i in calendar_raw.keys():
    parsed_calendars[i] = parse_calendar(calendar_raw[i], calendar_date_parsed)
listing_id = [int(key) for key in parsed_calendars.keys()]
df_calendar = pd.DataFrame({'id': listing_id, 'calendars': parsed_calendars.values()})

NameError: name 'calendar_date_parsed' is not defined

In [85]:
def parse_calendar(self, calendar, today_parsed):
    date = []
    price_USD = []
    availability = []
    min_nights = []
    day_list = []
    for month in calendar['calendar_months']:
        for day in month['days']:
            day_parsed = dt.datetime.strptime(day['date'], '%Y-%m-%d')
            if (day_parsed > today_parsed) & (day_parsed not in day_list):
                date.append(day['date'])
                price_USD.append(day['price']['native_price'])
                availability.append(day['available'])
                min_nights.append(month['condition_ranges'][0]['conditions'][u'min_nights'])
            day_list.append(day_parsed)
    return pd.DataFrame({'date':date, 'price_USD': price_USD, 'availability':availability, 'min_nights': min_nights})